*, body {
    margin: 0;
    padding: 0;
}

nav {
    width: 1000px;
    background-color: rgb(187, 187, 187);
    padding: 20px 10px;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

ul li, ul a {
    display: inline-block;
}

ul a {
    margin: 0 5px;
    text-align: center;
    padding: 8px 6px 6px 6px;
    text-decoration: none;
    color: black;
    font-family: 'Anek Odia', sans-serif;
    font-size: 18px;
    outline: 1px solid black;
    border-radius: 15px;
    background-color: rgb(198, 220, 240);
}

ul a:hover {
    background-color: rgb(235, 118, 118);
}


main {
    width: 1000px;
    margin: 400px auto;
    height: 300px;
    outline: 2px solid black;
    border-radius: 25px;
}

aside img {
    float: left;
    border-radius: 50%;
    border: 3px solid rgb(0, 0, 0);
    margin: 25px 10px;
    margin-left: 20px;
    margin-top: 50px;
}

article {
    font-family: 'Grape Nuts', cursive;
    margin-left: 255px;
}

article h2 {
    padding-top: 20px;
    margin-bottom: 20px;
    margin-left: 25%;
}

article h3 {
    margin-bottom: 20px;
    font-size: 20px;
}

article p {
    width: 600px;
    font-family: 'Anek Odia', sans-serif;
}

