<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
	   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	   lang="en">
	<head>
		<link  id='GoogleFontsLink' href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet' type='text/css'>
		<script>
 WebFontConfig = {
	 google:
	{families: ["Open Sans",]},active: function() {
	 DrawTheChart(ChartData,ChartOptions,"developmentOfAgTestsChart","line")}
 };
		</script><script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
		<script>
function DrawTheChart(ChartData,ChartOptions,ChartId,ChartType){
	eval('var myLine = new Chart(document.getElementById(ChartId).getContext("2d"),{type:"'+ChartType+'",data:ChartData,options:ChartOptions});document.getElementById(ChartId).getContext("2d").stroke();')
}
		</script>
	</head>
	<body>
	<!--/*@thymesVar id="developmentOfAgTestsController" type="sk.tsystems.lzm.server.controller.SlovakiaAgTestsController"*/-->
		<canvas  id="developmentOfAgTestsChart" width="1196" height="696"  style="background-color:rgba(255,255,255,1.00);border:2px rgba(0,0,0,1) solid;border-radius:10px 10px 10px 8px;width:1196px;height:696px;padding-left:0px;padding-right:0px;padding-top:0px;padding-bottom:0px"></canvas>

		<script> function MoreChartOptions(){}
			var xmlhtpp = new XMLHttpRequest();
			var url = "http://localhost:8080/api/slovakiaAgTests";
			xmlhtpp.open("GET", url, true);
			xmlhtpp.send();


			xmlhtpp.onreadystatechange = function (){
				if(this.readyState == 4 && this.status == 200){
					var data = JSON.parse(this.responseText);
					console.log(data);
				}
			}

			var ChartData = {
					labels : ["January","February","March","April","May","June","July",],
					datasets : [
						{
						data : [65,8,90,81,56,55,40,],
						backgroundColor :'#e20074',
						borderColor : '#e20074',
						pointBackgroundColor:'#000000',
						pointBorderColor : '#000000',
						label:"2013"},

				]
					};
				ChartOptions= {
				responsive:false,
					layout:{padding:{top:12,left:12,bottom:12,right:20,},},
					 scales: {
					xAxes:[{
				gridLines:{borderDash:[],},
				}],

					yAxes:[{
				gridLines:{borderDash:[],},
				}],
				 },plugins:{
				datalabels:{display:false},
				},
				legend:{
					labels:{
						fontSize:15,
						fontStyle:' bold',
						fontColor:'#e20074',
						usePointStyle:true,

						generateLabels: function(chart){
							 return  chart.data.datasets.map( function( dataset, i ){
								return{
									text:dataset.label,
									lineCap:dataset.borderCapStyle,
									lineDash:[],
									lineDashOffset: 0,
									lineJoin:dataset.borderJoinStyle,
									pointStyle:'circle',
									fillStyle:dataset.backgroundColor,
									strokeStyle:dataset.borderColor,
									lineWidth:0,
									lineDash:dataset.borderDash,
								}
							})
						},

					},
				},

				title:{
					display:true,
					text:'Development of the number of Covid-19 cases ',
					fontColor:'#000000',
					fontSize: 32,
					fontStyle:' bold',
					},
				elements: {
					arc: {
				},
					point: {radius:4,borderWidth:3,hitRadius:2,hoverRadius:5,},
					line: {tension:0.4,
				},
					rectangle: {
				},
				},
				tooltips:{
					cornerRadius:5,
					caretSize:8,
				},
				hover:{
					mode:'nearest',
					animationDuration:400,
				},
				};

			DrawTheChart(ChartData,ChartOptions,"developmentOfAgTestsChart","line");
		</script>
	</body>
</html>