/* GENERAL */
body {
    background-color: rgb(35, 35, 35);
    background: url(../img/background2.jpg);
}

h1 {
    margin: 0;
}

h2 { 
    margin: 0;    
    color: rgb(50, 50, 50);
}

p {
    margin: 0;
    color: rgb(50, 50, 50);
}

ul {
    margin: 0;
    padding: 0;
}

ul li, a{
   list-style: none; 
   text-decoration: none;
}

/* HEADER */

.logoContainer {
    padding-top: 0;
    background: url(../img/L.jpg) 2px 0px no-repeat;
    background-color: rgb(0, 0, 0);
    height: 210px; 
    width: 150px;  
    font-family: 'Fredoka One', cursive;
    text-align: center;
    float: left;
    position: fixed;
    /* border-right: 1px solid rgb(92, 92, 92); */
}

.logoContainer h2, .logoContainer p {
    color:#f2f2f2;
}

.logoContainer h2 {
    padding-top: 130px;
    font-weight: 700;
    letter-spacing: 1.5px;
}

.logoContainer p {
    padding: 12px 0;
    color: rgb(159, 159, 159);
}

/* .navContainer {
    width: 150px;
    background-color: rgb(11, 11, 11);
    height: 733px;
    font-family: 'Sawarabi Mincho', serif;
    text-align: center;
    padding-top: 60px;
    z-index: 1;
    clear: both;
    float: left;
} */

.navContainer {
    width: 150px;
    position: fixed;
    background-color: rgb(11, 11, 11);
    font-family: 'Sawarabi Mincho', serif;
    top: 210px;
    float: left;
    text-align: center;
    height: 100%;
    padding-top: 60px;
}

.navContainer .navigation a{
    color: rgb(159, 159, 159);
    display: block;
    padding: 20px 0;
    width: 150px;
    border-bottom: 1px solid rgb(57, 57, 57);
    font-weight: bold;
}

.navigation .menu li:first-of-type a {
    border-top: 1px solid rgb(57, 57, 57);
}

/* .navContainer .first {
    border-top: 1px solid rgb(92, 92, 92);
} */

.navContainer .navigation .selected {
    color: rgb(128, 52, 199);
    border: none;
    border-bottom: 1px solid rgb(128, 52, 199);
    border-top: 1px solid rgb(128, 52, 199);
}

.navContainer a:hover,
.navContainer a:focus {
    color: rgb(128, 52, 199);
}

.socialMenu {
    margin-top: 75px;
    font-size: 0;
}

.fa-facebook, .fa-instagram, .fa-twitter {
    color: #f2f2f2;
    padding: 8px;
    margin: 0;    
    font-size: 20px;
}

.fa-facebook:hover, 
.fa-instagram:hover,
.fa-twitter:hover {
    color: rgb(128, 52, 199);
}

/* MAIN */

.projects {
    color: #f2f2f2;
    width: 1500px;
    margin: 0 auto;
}

.projects h1 {
    padding-top: 50px;
    margin-bottom: 60px;
    font-family: 'Fredoka One', cursive;
    font-size: 60px;
    text-align: center;    
}

.projects h2 {
    text-align: center;
    font-family: 'Fredoka One', cursive;
}

.projectL {
    width: 700px;
    padding: 15px 20px;
    background-color: #f2f2f2;
    border-radius: 15px;
    margin-left: 0;
    float: left;
    background-color: #9e9d9d;;
    outline: 2px solid rgb(128, 52, 199);
}

.projectL h2, .projectR h2 {
    font-size: 30px;
}

.projectL .leftSide, .projectR .leftSide{
    width: 350px;
    padding-left: 10px;
    margin-top: 25px;
    margin-right: 5px;
    float: left; 
}

/* .project1 .leftSide{
    float: left; 
} */

.projectL img {    
    border-radius: 15px;
    outline: 1px solid rgb(128, 52, 199);;
    margin-top: 20px;
    margin-left: 25px;
}

.projectL img:hover, 
.projectR img:hover {
    outline: 5px solid rgb(192, 16, 130);
}

.projectL .leftSide a,
.projectR .leftSide a {
    margin-top: -22px;
    margin-right: -250px;
    text-decoration: underline;
    color: rgb(128, 52, 199);
    font-family: 'Sawarabi Mincho', serif;
    float: right;
    font-weight: bold;
}

.projectL .leftSide a:hover,
.projectR .leftSide a:hover {
    color: rgb(192, 16, 130);
}

.projectL .leftSide p,
.projectR .leftSide p {
    font-family: 'Sawarabi Mincho', serif;
    line-height: 23px;
}

.projectL .leftSide p:last-of-type,
.projectR .leftSide p:last-of-type {
    margin-top: 20px;
    font-family: 'Fredoka One', cursive;
}

/* .project1 > a {
    margin-left: 25px;
} */

.projectR {
    width: 700px;
    padding: 15px 20px;
    background-color: #f2f2f2;
    border-radius: 15px;
    float: right;
    background-color: #9e9d9d;;
    outline: 2px solid rgb(128, 52, 199);
}

.projectR img {
    border-radius: 15px;
    outline: 1px solid rgb(128, 52, 199);;
    margin-top: 10px;
    margin-left: 25px;
}

.row2 {
    margin-top: 50px;
}

.projects .projectL:last-of-type,
.projects .projectR:last-of-type {
    margin-bottom: 30px;
}

/* FOOTER */

.globalFooter {
    clear: both;
    margin-top: 75px;
    height: 54px;
    background-color: black;  
    text-align: center;  
}

.globalFooter a {
    color: #f2f2f2;
}

.fa-envelope, .fa-phone {
    color: #f2f2f2;
    vertical-align: middle;
    font-size: 25px;
}

.footerPhoneMail a{
    margin: 14px 20px 14px 0;
    display: inline-block;
}

.globalFooter p {
    color: #f2f2f2;
    float: right;
    margin-top: -25px;
    margin-right: 25px;
}




